@import "../styles/main.scss";

.search {
  display: flex;
  flex-direction: column;

  .search-form,
  .search-result {
    padding: 15px;
    border-radius: 20px;
    @include box-shadow-mixin;
  }

  .search-result {
    min-height: 40vh;

    .search-table {
      background-color: lightgrey;
    }
  }
}
