@import "../styles/main.scss";

.search {
  display: flex;
  flex-direction: column;

  .search__form,
  .search__result {
    padding: 15px;
    border-radius: 20px;
    @include box-shadow-mixin;
  }

  .search__form {
    margin-bottom: 50px;

    .row {
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      margin-bottom: 10px;

      .form__input {
        label {
          font-size: 1.6rem;
          font-weight: bold;
          margin-right: 5px;
        }

        input {
          padding: 0 2px;
        }

        .input-multiple {
          margin-left: 20px;
          input:first-child {
            margin-right: 10px;
          }
        }
      }

      button {
        background-color: purple;
        color: white;
        padding: 7px 15px;
        border: none;
        border-radius: 15px;
      }
    }
  }

  .search__result {
    min-height: 40vh;

    .search-table {
      background-color: lightgrey;
    }
  }
}
